.allik{
    background-color: grey;
}

#myForm{
    padding-top: 10px;
    padding-bottom: 10px;
}

.invalid {
    border: 1px solid red !important;
}
    
.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}